<aside class="col-xs-4"></aside>
<section class="photos-list col-xs-4">
	<div class="search center-block form-inline">
		<div class="">
			<input class="form-control" type="text" name="search" id="tagsearch" value="" placeholder="Search by text..."/>
			<button class="search-btn">
				<span id="search-btn" class="search-icon glyphicon glyphicon-search" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<div id="photosList" class="image center-block"></div>
	<button id="btn" class="button">Load more</button>
</section>
<aside class="col-xs-3"></aside>
